.card {
    align-items: start;
    border: 1px solid rgb(0 0 0 / 24%);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 75vh;
    justify-content: start;
    overflow: hidden;
    width: 75vw;
}

.cardInputs {
    border: 7px solid #A81A1AFF;
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
}
