.containerTabela {
    border: 1px solid var(--outline);
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.tabela {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

}


.linhaCabecalho th {
    background-color: var(--outline);
    color: var(--azul-base);
    font-weight: var(--sans-bold);
    padding: 8px 32px 8px 16px;
    position: sticky;
    text-align: left;
    top: 0;
    z-index: 2;
}

.empresasTh {
    padding: 8px 32px 8px 16px;
    text-align: left;

}

.empresas {
    text-align: end;

}

.linha td {
    border-bottom: 1px solid var(--outline);
    padding: 8px 32px 8px 16px;
    text-align: left;
}

.colEditar {
    height: 40px;
    width: 40px;
}


.corpo {
    overflow-y: scroll;
    width: 100%;

}

.icones {
    color: var(--azul-base);
    height: 34px;
    width: 34px;
}
